# files to ignore when packaging the extension

.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
out/**
esbuild.js
eslint.config.js
pnpm-lock.yaml
package-lock.json
CHANGES.md
.npmrc
.editorconfig
.prettierrc
.git
.gitignore
.DS_Store
*.vsix
*.webp
*.svg

# examples not needed
examples/**
# static files not needed
static/full.webp
static/screenshot.png
static/better-svg.webp